@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
body {
    background-color: #000000;
    background-image: url(https://ik.imagekit.io/wns4q4r9n2/misc/45-degree-fabric-dark_62MIPvoPq.png);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

a {
    color: #ddd;
    text-decoration: none;
}

p.sub {
    padding: 25px 10px 10px 10px;
    text-align: left;
    color: #aaa;
}

.clr {
    clear: both;
}

h1 {
    margin: 5px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px #000;
    padding: 10px;
    line-height: 40px;
    padding-top: 80px;
}

/* Header Style */

.header {
    font-size: 13px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}

.header a {
    line-height: 18px;
    padding: 0 4px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
    color: #ddd;
}

.header a:hover {
    color: #fff;
}

.header a span {
    font-weight: bold;
}

.header span.right_ab {
    float: right;
}

.content {
    margin: 0px 25px 30px 25px;
}

@media screen and (max-width: 640px) {
    .header a {
        display: block;
        text-align: center;
        font-size: 10px;
        text-shadow: none;
    }
    .header span.right_ab {
        float: none;
    }
}